.users h1{
    margin-bottom:20px;
}
.users__card{
    margin-top:40px;
    border:1px solid #365262;
    padding:20px;
}
.users__card p{
    margin-bottom: 10px;
}
#go{
    align-items: center;
}
.container {
    
    padding: 1.5rem;
    border-radius: 3%;
    box-shadow: 0 0 28px 4px rgba(233, 104, 104, 0.1);
    transition: transform .3s ease;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}
.container:hover {
    transform: scale(1.1);
}
#titlecarduser{
    text-align: center;
    width: 90%;
    background-color: DarkSalmon;
    color: white;
    margin-left: 5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 30%;
  }
  .text {
    font-size: 20px;
  }
